@import "tailwindcss";

:root {
  --color-primary: #e11d48;
  --color-hover: #be123c;

  /* Backgrounds */
  --bg-main: #f9fafb;
  --bg-card: #ffffff;

  --text-main: #0f172a;
  --text-muted: #64748b;
  --text-light: #ffffff;

  --font-outfit: "Outfit", sans-serif;

  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
}

.font-brand {
  font-family: var(--font-outfit);
}
